<!-- <google-map
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
></google-map> -->
<!-- 
<google-map  height="500px" width="80%"></google-map> -->

<!-- <div id="map"></div> -->

<button title="Single Route" (click)="SingleRoute()">Single Route</button>

<button title="Multiple Route" (click)="Multiple()">Multiple Route</button>

<button title="Multiple Route Custome Markers" (click)="MultipleMarkwers()">Multiple Route Custome Markers</button>


<app-single-route *ngIf="loadSingleroute"></app-single-route>
<app-multiple-routes *ngIf="loadMultiple"></app-multiple-routes>
<app-multiple-route-markers *ngIf="loadMultipleMarkers"></app-multiple-route-markers>
